@keyframes scaleUp {
  0% {
    width: 200px;
  }
  100% {
    width: 1100px;
  }
}

.selected {
  animation: scaleUp 1.5s;
}

.selected {
  width: 1100px !important;
}

.selected img {
  filter: grayscale(0%) !important;
}

@keyframes scaleDown {
  0% {
    width: 1100px;
  }
  100% {
    width: 200px;
  }
}

.former {
  animation: scaleDown 1.5s;
  width: 200px !important;
}

.Brenna h3 {
  color: #78B41A;
}
.Jake h3 {
  color: #BEA243;
}

.Cassie h3 {
  color: #BC8B67;
}

.Stian h3 {
  color: #5A9386;
}

.Scott h3 {
  color: #77A0E0;
}

.Patty h3 {
  color: #BC8B67;
}
