@keyframes scaleUp {
  0% {
    width: 200px;
  }
  100% {
    width: 1100px;
  }
}

.selected {
  animation: scaleUp 2s;
}

.selected {
  width: 1100px !important;
}

.selected img {
  filter: grayscale(0%) !important;
}

@keyframes scaleDown {
  0% {
    width: 1100px;
  }
  100% {
    width: 200px;
  }
}

.former {
  animation: scaleDown 2s;
  width: 200px !important;
}
