.Menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 1200px;
  min-width: 1200px;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin: 150px auto 30px auto;
  color: white;
}

.Menu li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: white;
  text-align: center;
  margin: auto;
}

.Menu p {
  font-size: 24px;
}

.NavigationMenu {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 1200px;
  min-width: 1200px;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  color: white;
}

.NavigationMenu:first-of-type {
  border-top: 1px solid white;
}

.NavigationMenu li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: white;
  text-align: center;
  margin: auto;
}

.Title {
  margin: 0px;
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  z-index: 10;
}

.Left {
  position: relative;
  left: -25px;
  opacity: 0;
  z-index: 5;
}

.Right {
  position: relative;
  right: -25px;
  opacity: 0;
  z-index: 5;
}


.Title:hover {
  cursor: pointer;
}

.NavigationMenu li:hover > .Left {
  opacity: 1;
  left: -5px;
  transition: left 0.3s linear;
}

.NavigationMenu li:hover > .Right {
  opacity: 1;
  right: -5px;
  transition: right 0.3s linear;
}

.Menu li:hover > .Left {
  opacity: 1;
  left: -5px;
  transition: left 0.3s linear;
}

.Menu li:hover > .Right {
  opacity: 1;
  right: -5px;
  transition: right 0.3s linear;
}

.Current > .Title {
  font-weight: normal;
}

.Current > .Right {
  opacity: 1;
  right: -5px;
}

.Current > .Left {
  opacity: 1;
  left: -5px;
}
