.statsheet {
  display: block;
  position: absolute;
  left: 195px;
  right: 0px;
  color: white;
  background: black;
  width: auto;
  height: 100%;
  font-size: 20px;
  border-left: 1px white solid;
  min-width: 390px;
}

.statsheet h4 {
  text-align: center;
  margin: 20px 0px;
  width: 75%;
  margin: 10px auto 20px auto;
  border-bottom: 1px solid white;
  height: 5%;
  font-weight: bold;
  font-size: 22px;
}

.statsheet h3 {
  text-align: center;
  margin: 10px auto;
  height: 5%;
  font-weight: 900;
  font-size: 26px;
}

.statsheet table {
  height: 85%;
  width: 100%;
}

.statsheet table tbody tr th:first-of-type {
  text-align: left;
  padding-left: 15px;
}

.statsheet table tbody tr th {
  text-align: right;
  padding-right: 15px;
}

.statBar {
  max-height: 550px;
  width: 98%;
  margin: 0px auto;
  align-self: flex-end;
  z-index: 5;
  /*animation: barRise 3s;*/
}

/*@keyframes barRise {
  0% {max-height: 0px;}
  15% {max-height: 0px;}
  100% {max-height: 550px;}
}*/

.statDatum {
  align-self: flex-end;
  animation: datumFadein 4s;
  margin: 10px auto;
}

@keyframes datumFadein {
  0% {opacity: 0;}
  75% {opacity: 0;}
  100% {opacity: 1;}
}

.stat {
  justify-content: flex-end;
  flex-direction: column;
}
